{% extends "admin/site.twig" %}
{% block content %}
<h1>Edit page answers</h1>
<form method="POST" action="{{ urlFor('stories') }}">
	{% for s in stories %}
	<fieldset class="story" name="story">
		<legend>Story</legend>
		<label>ID: <input name="stories[{{ loop.index0 }}][id]" type="text" value="{{ s.id }}"></label><span> (Used for the URL)</span>
		<label>Title: <input name="stories[{{ loop.index0 }}][title]" type="text" value="{{ s.title }}"></label>
		{% for p in s.paragraphs %}
		<fieldset name="paragraph">
			<legend>Paragraph</legend>
			<label>Text: <textarea name="stories[{{ loop.parent.loop.index0 }}][paragraphs][{{ loop.index0 }}][text]">{{ p.text }}</textarea></label>
			<fieldset name="color">
				<legend>Color</legend>
				{% for c in colors %}
				<label class="{{ c }}"><input name="stories[{{ loop.parent.loop.parent.loop.index0 }}][paragraphs][{{ loop.parent.loop.index0 }}][color]" type="radio" value="{{ c }}" {% if p.color == c %}checked="checked"{% endif %}> {{ c }}</label>
				{% endfor %}
			</fieldset>
		</fieldset>
		{% endfor %}
	</fieldset>
	{% endfor %}
	<input type="submit" value="update">
</form>
{% endblock %}

