{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<section class="image-grid" data-col-count="4" data-size="small">
	{% for layout in layouts %}
	<article class="image-grid__item">
		<header><h2>{{ layout.title }}</h2></header>
		<main><a href="{{ urlFor('layout', { slug: issue.slug, layout: layout.slug }) }}" data-image="{{ layout.image.small }}">{{ layout.title }}</a></main>
	</article>
	{% endfor %}
</section>
<section class="image-grid" data-col-count="8" data-size="medium">
	{% for layout in layouts %}
	<article class="image-grid__item">
		<header><h2>{{ layout.title }}</h2></header>
		<main>
			<a href="{{ urlFor('layout', { slug: issue.slug, layout: layout.slug }) }}" data-image="{{ layout.image.medium }}">{{ layout.title }}</a>
		</main>
	</article>
	{% endfor %}
</section>
<div class="js-content">
	<span id="info-icon" class="svg-icon icon--info">{{ 'svg/info.svg' | asset_url | source | raw }}</span>
	<button id="arrow-icon" class="svg-icon icon--arrow plain">{{ 'svg/arrow.svg' | asset_url | source | raw }}</button>
</div>
{% endblock %}
