{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<section id="issue-layouts" class="image-grid">
	{% for layout in issue.getLayouts() %}
	<a
		href="{{ layout.getUrl(issue) }}"
		data-src="{{ layout.image.path | url | image_url }}"
		data-srcset="{{ layout.image.path | url | srcset }}"
		data-size="{{ layout.image.path | url | imgsize }}"
	>{{ layout.title }}</a>
	{% endfor %}
</section>
{% endblock %}
