{% extends "site.twig" %}
{% block content %}
<section class="issues-listing">
	{% for issue in issues %}
	<article class="issue" data-issue="{{ issue.slug }}">
		<h1 class="">{{ issue.title }}</h1>
		<p><a class="" href="{{ issue.getUrl() }}">
			{% for img in issue.getResponsiveCovers() %}
			<img src="{{ img.src }}" srcset="{{ img.srcset }}" alt="">
			{% endfor %}
		</a></p>
	</article>
	{% endfor %}
{% endblock %}
