{% extends "site.twig" %}
{% block subnav %}
{% include "snippets/issues_subnav.twig" %}
{% endblock %}
{% block content %}
<section id="issue-sections" class="issue-sections">
	{% for section in issue.getSections() %}
	<article class="issue-section" data-url="{{ section.getUrl(issue) }}" data-slug="{{ section.slug }}">
		{% for layout in section.getLayouts() %}
		{% set img = layout.getResponsiveImage() %}
		<img src="{{ img.src }}" srcset="{{ img.srcset }}" sizes="40vw">
		{% endfor %}
		<main>
			<div class="section-text">
				<header>
					<h1>{{ section.title }}</h1>
					{% if section.subtitle %}<h2 class="lowercase">{{ section.subtitle }}</h2>{% endif %}
					{% if section.tags %}<p class="tags">{{ section.tags | pluck('value') | join('/') }}</p>{% endif %}
				</header>
				<div>{{ section.description | raw }}</div>
			</div>
		</main>
	</article>
	{% endfor %}
</section>
{% endblock %}
