{% macro menu_item(section) %}
<a class="plain" data-section="{{ section }}" href="{{ urlFor(section) }}">{{ section | capitalize }}</a>
{% endmacro %}

{% macro contact(contact) %}
<p>{{ contact.name }}</p>
<p>{{ contact.position }}</p>
<p><a class="plain" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
{% endmacro %}

{% macro social_button(name, url) %}
<a class="plain svg-button" target="_blank" href="{{ url }}">{{ svg(name, name | capitalize) | raw }}</a>
{% endmacro %}

{% macro event_date(date) %}{{ date | date('F jS') | ordinal_sup | raw }}{% endmacro %}
