{% macro menu_item(link) %}
<a class="plain {% if URL_PATH | has(link.url) %}selected{% endif %}" data-section="{{ link.title | slug }}" href="{{ (link.url | has('//')) ? link.url : urlFor(link.url) }}">{{ link.title }}</a>
{% endmacro %}

{% macro contact(contact) %}
<p>{{ contact.name }}</p>
<p>{{ contact.position }}</p>
<p><a class="plain" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
{% endmacro %}

{% macro social_button(name, url) %}
<a class="plain svg-button" target="_blank" href="{{ url }}">{{ svg(name, name | capitalize) | raw }}</a>
{% endmacro %}

{% macro event_date(date) %}{{ date | date('F jS') | ordinal_sup | raw }}{% endmacro %}
