{% extends "site.twig" %}
{% block content %}
<header>
	<h2>thoughts & reasons, then plans</h2>
	<p><a href="{{ urlFor('issue', {"slug":first_issue.slug}) }}">issue #1&gt;</a></p>
</header>
<article>
	{% for s in stories %}
	<div id="{{ s.id }}">
		<dt>{{ s.title }}</dt>
		<dd>
			{% for p in s.paragraphs %}
			<p class="{{ p.color }}">{{ p.text | nl2br }}</p>
			{% endfor %}
		</dd>
		{% if s.id == 'timeline' %}
		<div id="answers-links">
			<a href="{{ urlFor('issue', {"slug":first_issue.slug}) }}">Skip &gt;</a>
		</div>
		{% endif %}
	</div>
	{% endfor %}
</article>
<footer><p>Jack</p></footer>
{% endblock %}

