{% extends "site.twig" %}
{% block content %}
<h1>{{ issue.title }}</h1>
<article class="magazine section-switcher" data-transition="fade" data-touch-transition="scroll" data-wrap-around="false" data-scroll-direction="horizontal">
	<p class="magazine__section-title text-right">&nbsp;</p>
	<aside class="magazine__thumbs absolute-fixed" data-min-top="5">
		<ol class="section-switcher__links">
			<li class="selected selected--front" data-poster-size="54,24"><span class="thumb__title">Front cover / Back cover / Fold</span>
				<a href="#cover" class="section-switcher__link" data-section-face="front"><img src="{{ issue.covers.thumb }}" alt=""></a>
				<a href="#cover" class="section-switcher__link" data-section-face="back"><img src="{{ issue.covers.poster_thumb }}" alt=""></a>
			</li>
			{% for p in posters %}
			<li data-poster-size="36,24"><span class="thumb__title">Poster {{ loop.index }}</span>
				<a href="#poster-{{ loop.index }}" class="section-switcher__link" data-section-face="front"><img src="{{ p.front.thumb }}" alt=""></a>
				<a href="#poster-{{ loop.index }}" class="section-switcher__link" data-section-face="back"><img src="{{ p.back.thumb }}" alt=""></a>
			</li>
			{% endfor %}
			<li data-poster-size="36,48"><span class="thumb__title">Centerfold</span>
				<a href="#centerfold" class="section-switcher__link" data-section-face="front"><img src="{{ issue.centerfold.front_thumb }}" alt=""></a>
				<a href="#centerfold" class="section-switcher__link" data-section-face="back"><img src="{{ issue.centerfold.back_thumb }}" alt=""></a>
			</li>
		</ol>
	</aside>
	<div class="magazine__nav section-switcher__nav left-edge right-edge">
		<a class="section-switcher__nav__prev section-switcher__link" href="#">❮</a>
		<button id="magazine__open-close-button" class="magazine__toggle-open-button toggle-button" data-toggle-text="open,close">open</button>
		<button id="magazine__flip-button" class="magazine__flip-button">flip</button>
		<a class="section-switcher__nav__next section-switcher__link" href="#">❯</a>
	</div>
	<div class="magazine__sections section-switcher__sections-container">
		<section id="cover" class="magazine__section section-switcher__section magazine-cover" data-src-front="{{ issue.covers.covers }}" data-src-back="{{ issue.covers.poster }}">
			<img class="front middle magazine-cover__front-cover" data-src="{{ issue.covers.front }}" src="/blank.gif" alt="">
			<img class="front left magazine-cover__back-cover" data-src="{{ issue.covers.back }}" src="/blank.gif" alt="">
			<img class="front right magazine-cover__cover-index" data-src="{{ issue.covers.index }}" src="/blank.gif" alt="">
			<img class="back middle magazine-cover__poster-middle" data-src="{{ issue.covers.poster_middle }}" src="/blank.gif" alt="">
			<img class="back left magazine-cover__poster-right" data-src="{{ issue.covers.poster_right }}" src="/blank.gif" alt="">
			<img class="back right magazine-cover__poster-left" data-src="{{ issue.covers.poster_left }}" src="/blank.gif" alt="">
		</section>
		{% for p in posters %}
		<section id="poster-{{ loop.index }}" class="magazine__section section-switcher__section magazine-poster"  data-src-front="{{ p.front.poster }}" data-src-back="{{ p.back.poster }}">
			<img class="front left magazine-poster__front-left" data-src="{{ p.front.left }}" src="/blank.gif" alt="">
			<img class="front right magazine-poster__front-right" data-src="{{ p.front.right }}" src="/blank.gif" alt="">
			<img class="back left magazine-poster__back-left" data-src="{{ p.back.right_flipped }}" src="/blank.gif" alt="">
			<img class="back right magazine-poster__back-right" data-src="{{ p.back.left_flipped }}" src="/blank.gif" alt="">
		</section>
		{% endfor %}
		<section id="centerfold" class="magazine__section section-switcher__section magazine-centerfold"  data-src-front="{{ issue.centerfold.front }}" data-src-back="{{ issue.centerfold.back }}">
			<img class="front topleft top left magazine-centerfold__front-top-left" data-src="{{ issue.centerfold.front_top_left }}" src="/blank.gif" alt="">
			<img class="front topright top right magazine-centerfold__front-top-right" data-src="{{ issue.centerfold.front_top_right }}" src="/blank.gif" alt="">
			<img class="front bottomleft bottom left magazine-centerfold__front-bottom-left" data-src="{{ issue.centerfold.front_bottom_left }}" src="/blank.gif" alt="">
			<img class="front bottomright bottom right magazine-centerfold__front-bottom-right" data-src="{{ issue.centerfold.front_bottom_right }}" src="/blank.gif" alt="">
			<img class="back topleft top left magazine-centerfold__back-top-left" data-src="{{ issue.centerfold.back_top_right }}" src="/blank.gif" alt="">
			<img class="back topright top right magazine-centerfold__back-top-right" data-src="{{ issue.centerfold.back_top_left }}" src="/blank.gif" alt="">
			<img class="back bottomleft bottom left magazine-centerfold__back-bottom-left" data-src="{{ issue.centerfold.back_bottom_right }}" src="/blank.gif" alt="">
			<img class="back bottomright bottom right magazine-centerfold__back-bottom-right" data-src="{{ issue.centerfold.back_bottom_left }}" src="/blank.gif" alt="">
		</section>
	</div>
</article>
{% endblock %}
