{% extends "site.twig" %}
{% block content %}
<header><h2>thoughts & reasons, then plans</h2></header>
<article>
	<p><a href="{{ answers_url }}#who">Who is Jack?</a></p>
	<p><a href="{{ answers_url }}#why">Why Jack?</a></p>
	<p><a href="{{ answers_url }}#what">What is Jack?</a></p>
	<p><a href="{{ answers_url }}#why-me">Why me for jack?</a></p>
	<p><a href="{{ answers_url }}#where">Where is Jack?</a></p>
	<div id="set-2">
		<p><a href="{{ answers_url }}#how">How will Jack be launched and released</a></p>
		<p><a href="{{ answers_url }}#timeline">Present + Future</a></p>
		<p><a href="{{ answers_url }}#contributors">Editors & contributors</a></p>
		<p><a href="{{ answers_url }}#sponsors">Sponsors</a></p>
		<p><a href="{{ answers_url }}#advertisement">Advertisement</a></p>
		<p><a href="{{ answers_url }}#thanks">Special thanks</a></p>
	</div>
</article>
{% endblock %}

