{% extends "admin/site.twig" %}
{% block content %}
<h2>Invites</h2>
<p><a href="{{ urlFor("admin/send-invite") }}">Invite new client</a></p>
<table>
	<thead>
		<tr>
			<th>Email</th>
			<th>Times Has Logged In</th>
			<th>Last Time Invited</th>
			<th>Invite Again (Not final)</th>
		</tr>
	</thead>
	<tbody>
		{% for i in invites %}
		<tr>
			<td>{{ i.email }}</td>
			<td>{{ i.uses | length }}</td>
			<td>{{ i.sends[i.sends|length - 1] }}</td>
			<td><a href="{{ urlFor('admin/send-invite') }}?id={{ i.id }}">Re-send</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
