{% extends "admin/site.twig" %}
{% block content %}
<h2>Edit Issue {{ issue.title }}</h2>
<h3>Edit Posters</h3>
<p><a href="{{ urlFor('admin/issue/newpage', {"slug": issue.slug}) }}">Add new poster</a></p>
<p><a href="{{ urlFor('admin/issue/pages', {"slug": issue.slug}) }}">Current posters (change order)</a></p>
<h3>Change main images</h3>
<div class="section-switcher tabs">
	<ul class="section-switcher__links horizontal-list">
		<li class="selected"><a href="#front-cover">Front cover</a></li>
		<li><a href="#back-cover">Back cover</a></li>
		<li><a href="#index">Index</a></li>
		<li><a href="#cover-poster">Cover poster</a></li>
		<li><a href="#centerfold-front">Centerfold front</a></li>
		<li><a href="#centerfold-back">Centerfold back</a></li>
	</ul>
	<div class="section-switcher__sections-container">
		<div id="front-cover" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.covers.front }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>450 x 600</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="FrontCover"></form>
			</div>
		</div>
		<div id="back-cover" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.covers.back }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>450 x 600</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="BackCover"></form>
			</div>
		</div>
		<div id="index" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.covers.index }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>450 x 600</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="Index"></form>
			</div>
		</div>
		<div id="cover-poster" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.covers.poster }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>1350 x 600</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="CoverPoster"></form>
			</div>
		</div>
		<div id="centerfold-front" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.centerfold.front }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>900 x 1200</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="FrontCenterfold"></form>
			</div>
		</div>
		<div id="centerfold-back" class="section-switcher__section issue-image">
			<div class="left issue-image__image">
				<img src="{{ issue.centerfold.back }}" alt="">
			</div>
			<div class="right issue-image__input">
				<h4>Change image</h4>
				<p>The image size must be <strong>900 x 1200</strong> pixels.</p>
				<form class="admin-form-image dropzone" action="{{ urlFor('admin/issue/update', {"slug": issue.slug}) }}" data-file-input-name="BackCenterfold"></form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
