{% extends "admin/site.twig" %}
{% block content %}
<h2>{{ issue.title }} Page Order</h2>
<p><a href="{{ urlFor('admin/issue', {"slug": issue.slug}) }}">Back to issue</a></p>
<p><a href="{{ urlFor('admin/issue/newpage', {"slug": issue.slug}) }}">Add new page</a></p>
<h3>Instructions</h3>
<p>Swap posters or sheets by clicking on one, which will then stay highlighted, and then on another to swap positions.</p>
<p>An individual poster can only be swapped with another poster. Only sheet by sheet swapping as well.</p>
<p>Sheets are selected by clicking on the sheet number, while posters are selected by clicking on the poster itself.</p>
<p>When a sheet is highlighted, it is shown in <span style="color:skyblue;">sky blue</span>. Posters are coloured <span style="color:green;">green</span>.</p>
<p>Every swap is saved, so there is no save button.</p>
<div class="action-history">
	<h3>Order history</h3>
	<p>Click on a history item to undo order changes. You MUST click the save button below to save the order from the history.</p>
	<ol class="action-history__list action-history__list--empty">
		<li class="action-history__empty-notice">Nothing here yet.</li>
	</ol>
	<button id="action-history__clear-button">Clear</button>
	<button id="action-history__show-all-button">Show All</button>
	<button id="save-history">Save</button>
</div>
<form name="page_order" method="POST" target="{{ urlFor('admin/issue/pages', {"slug": issue.slug}) }}">
	<table id="page-order" class="swappable-table">
		<thead>
			<tr>
				<th>Sheet #</th>
				<th>Front</th>
				<th>Back</th>
			</tr>
		</thead>
		<tbody>
			{% for p in posters %}
			<tr>
				<td class="row-number">{{ loop.index }}</td>
				<td>
					<input type="hidden" name="row{{ loop.index0 }}_front" value="{{ p.front.id }}">
					<div class="poster swappable-table__cell-content" data-poster-id="{{ p.front.id }}">
						<img src="{{ p.front.thumb }}" alt="">
						<p>{{ p.front.title }}</p>
					</div>
				</td>
				<td>
					<input type="hidden" name="row{{ loop.index0 }}_back" value="{{ p.back.id }}">
					<div class="poster swappable-table__cell-content" data-poster-id="{{ p.back.id }}">
						<img src="{{ p.back.thumb }}" alt="">
						<p>{{ p.back.title }}</p>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% endblock %}

