{% extends "admin/site.twig" %}
{% block content %}
<h2>{{ issue.title }}</h2>
<ul class="covers horizontal-list">
	<li><img src="{{ issue.covers.thumb }}" alt=""></li>
	<li><img src="{{ issue.covers.poster_thumb }}" alt=""></li>
</ul>
<p><a href="{{ urlFor('admin/issue', {"slug": issue.slug}) }}">Back to issue</a></p>
<p><a href="{{ urlFor('admin/issue/newpage', {"slug": issue.slug}) }}">Add new page</a></p>
<h2>Page Order</h2>
<section id="order-instructions">
	<div class="accordion">
		<h3>Show / Hide Instructions</h3>
		<div>
			<p>Swap posters or sheets by clicking on one, which will then stay highlighted, and then on another to swap positions.</p>
			<p>An individual poster can only be swapped with another poster. Only sheet by sheet swapping as well.</p>
			<p>Sheets are selected by clicking on the sheet number, while posters are selected by clicking on the poster itself.</p>
			<p>When a sheet is highlighted, it is shown in <span style="color:skyblue;">sky blue</span>. Posters are coloured <span style="color:green;">green</span>.</p>
			<p>Every swap is saved, so there is no save button.</p>
		</div>
	</div>
</section>
<form name="page_order" method="POST" target="{{ urlFor('admin/issue/pages', {"slug": issue.slug}) }}">
	<table id="page-order" class="swappable-table">
		<thead>
			<tr>
				<th>Sheet #</th>
				<th>Front</th>
				<th>Back</th>
			</tr>
		</thead>
		<tbody>
			{% for p in posters %}
			<tr>
				<td class="row-number">{{ loop.index }}</td>
				<td>
					<input type="hidden" name="row{{ loop.index0 }}_front" value="{{ p.front.id }}">
					<div class="poster swappable-table__cell-content" data-poster-id="{{ p.front.id }}">
						<img src="{{ p.front.thumb }}" alt="">
						<p>{{ p.front.title }}</p>
						<p><a class="ajax-link ajax-link--refresh red" href="{{ urlFor("admin/delete-poster", {"id":p.front.id}) }}">Delete</a></p>
					</div>
				</td>
				{% if p.back %}
				<td>
					<input type="hidden" name="row{{ loop.index0 }}_back" value="{{ p.back.id }}">
					<div class="poster swappable-table__cell-content" data-poster-id="{{ p.back.id }}">
						<img src="{{ p.back.thumb }}" alt="">
						<p>{{ p.back.title }}</p>
						<p><a class="ajax-link ajax-link--refresh red" href="{{ urlFor("admin/delete-poster", {"id":p.back.id}) }}">Delete</a></p>
					</div>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
{% endblock %}

