<section class="models lowercase no-underline">
	{% for m in models %}
	<article class="model">
		<header>
			<figure class="{{ m.images | length == 1 ? 'single' : 'double' }}">
				{% for img in m.images %}
				<img src="{{ img.path }}" alt="">
				{% endfor %}
				<figcaption><p class="sponsor">{{ m.fashion | mdp | raw }}</p><span class="name">{{ m.name }}</span><br><span class="origin">{{ m.origin }}</span></figcaption>
			</figure>
		</header>
		<main>
			<h4>First Impression</h4>
			<p>{{ m.impression }}</p>
			<h4>Beginning</h4>
			<p>{{ m.beginning }}</p>
			<h4>Our Experience</h4>
			{{ m.story | md | raw }}
			<h4>Secrets</h4>
			{{ m.secrets | md | raw }}
			{% if m.awards is not empty %}
			<h4>Who Loves Her</h4>
			<p>{{ m.awards | mdp | raw }}</p>
			{% endif %}
			<h4>Triumph</h4>
			<p>{{ m.work }}</p>
			<h4>Fashion</h4>
			<p>{{ m.fashion | mdp | raw }}</p>
			<h4>Instagram</h4>
			<p><a href="https://instagram.com/{{ m.instagram }}" rel="nofollow" target="_blank">{{ m.instagram }}</a></p>
		</main>
	</article>
	<hr>
	{% endfor %}
</section>
