<section class="models lowercase">
	{% for m in models %}
	<article class="model">
		<header>
			<figure class="{{ m.images | length == 1 ? 'single' : 'double' }}">
				{% for img in m.images %}
				<img src="{{ img.path }}" alt="">
				{% endfor %}
				<figcaption><span class="name">{{ m.name }}</span><br><span class="origin">{{ m.origin }}</span></figcaption>
			</figure>
		</header>
		<main>
			<h4>First Impression</h4>
			<p>{{ m.impression }}</p>
			<h4>Beginning</h4>
			<p>{{ m.beginning }}</p>
			<h4>Our Experience</h4>
			<p>{{ m.story }}</p>
			<h4>Who Loves Her</h4>
			<p>{{ m.awards }}</p>
			<h4>Triumphs</h4>
			<p>{{ m.work }}</p>
			<h4>Instagram</h4>
			<p>@instagram handle</p>
		</main>
	</article>
	{% endfor %}
</section>
