<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if DEBUG %}
		<link rel="stylesheet" href="{{ PATH_PREFIX }}css/src/admin.css" media="all">
		{% else %}
		<link rel="stylesheet" href="{{ PATH_PREFIX }}css/dist/admin.css" media="all">
		{% endif %}
	</head>
	<body>
		<div id="container">
			<header>
				<h1>Admin Section</h1>
				<nav>
					<ul class="horizontal-list">
						{% for s in admin_sections %}
						<li><a class="{{ section == s.name ? 'selected' : '' }}" href="{{ s.url }}">{{ s.name }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</header>
			<div id="page-notices" class="notices">
				{% for f in flash %}
				<p>{{ f }}</p>
				{% endfor %}
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script>var RJS_MAIN = 'main.admin';</script>
		{% if DEBUG %}
		<script src="{{ PATH_PREFIX }}js/src/bower_components/requirejs/require.js" data-main="{{ PATH_PREFIX }}js/src/rjs.init"></script>
		{% else %}
		<script src="{{ PATH_PREFIX }}js/dist/vendor/require.js" data-main="{{ PATH_PREFIX }}js/dist/rjs.init"></script>
		{% endif %}
	</body>
</html>
