<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/dist/admin.css" media="all">
	</head>
	<body>
		<div id="container">
			<header>
				<nav>
					<ul>
						<li><a href="{{ urlFor('admin/home') }}">Dashboard</a></li>
						<li><a href="{{ urlFor('admin/invites') }}">Invites</a></li>
						<li><a href="{{ urlFor('admin/issues') }}">Issues</a></li>
					</ul>
				</nav>
			</header>
			<div id="page-notices" class="notices">
				{% for f in flash %}
				<p>{{ f }}</p>
				{% endfor %}
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		<script src="/js/src/bower_components/requirejs/require.js" data-main="/js/src/main.admin"></script>
	</body>
</html>
