{% block doctype %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% endblock %}
	<head>
	{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Jack</title>
			<meta name="description" content="The Jack Mag. Seasonal poster size magazine. The best of the best of each season.">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			
			<link rel="stylesheet" href="{{ 'css/main.css' | url }}" media="all">
			<script src="{{ 'js/vendor/modernizr.js' | url }}"></script>

			<script>window.onload = function() { document.body.className += ' content-loaded'; };</script>
	{% endblock %}
	</head>
	<body class="" data-path="{{ PATH }}">
		{% import "macros/svg.twig" as svg %}
		{% import "macros/misc.twig" as misc %}
		<div id="container">
			<header id="masthead" class="post-intro-fade fade">
				<nav class="foreground tc lowercase main-nav">
					<span class="far-left tr">
						<h1><a class="plain svg-button" data-section="home" href="{{ urlFor('home') }}">{{ svg.object('logo', 'Jack') }}</a></h1>
					</span>
					<ul class="horizontal-list floats">
						{% for section in ['about','issues','contact','event'] %}<li>{{ misc.menu_item(section) }}</li>{% endfor %}
						<li><a class="plain" target="_blank" href="https://jack-mag.myshopify.com">Store</a></li>
					</ul>
					<span class="far-right tl">
						<ul class="social-buttons horizontal-list floats tc">
							<li>{{ misc.social_button('facebook','https://www.facebook.com/thejackmag/') }}</li>
							<li>{{ misc.social_button('twitter','https://twitter.com/thejackmag') }}</li>
							<li>{{ misc.social_button('instagram','https://www.instagram.com/thejackmagazine/') }}</li>
						</ul>
					</span>
				</nav>
				{% block subnav %}
				{% endblock %}
			</header>
			{% block header %}
			{% endblock %}
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		{% block footer %}
		{% endblock %}
		<div id="main-loader" class="loader">
			<svg viewBox="0 0 90 100" preserveAspectRatio="xMidYMid meet">
				<circle class="one" cx="5" cy="50" r="5"/>
				<circle class="two" cx="25" cy="50" r="5"/>
				<circle class="three" cx="45" cy="50" r="5"/>
				<circle class="four" cx="65" cy="50" r="5"/>
				<circle class="five" cx="85" cy="50" r="5"/>
			</svg>
		</div>
		<!--script>
			var _paq = _paq || [];
			_paq.push(['setCustomVariable', 1, 'User ID', '{{ USER_ID }}', 'visit']);
			_paq.push(['setCustomVariable', 2, 'Name', '{{ NAME }}', 'visit']);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				 var u=(("https:" == document.location.protocol) ? "https" : "http") + "://" + "{{ PIWIK_URL }}";
				 _paq.push(['setTrackerUrl', u+'piwik.php']);
				 _paq.push(['setSiteId', 1]);
				 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
				 g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			 })();
		</script-->
	</body>
</html>
