{% block doctype %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% endblock %}
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ META_TITLE }}</title>
		{% if META_DESCRIPTION is defined %}<meta name="description" content="{{ META_DESCRIPTION.content }}">{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		{% endblock %}
		
		{% if MINIFY_SCRIPTS %}
		<link rel="stylesheet" href="{{ 'dist/main.min.css' | asset_url }}" media="all">
		{% else %}
		<link rel="stylesheet" href="{{ 'src/css/main.css' | asset_url }}" media="all">
		<script src="{{ 'src/js/app.js' | asset_url }}"></script>
		{% endif %}

		{% block head_scripts %}
		{% endblock %}
	</head>
	<body class="{{ bodyClass | join(' ') }}" data-template-path="{{ TEMPLATE_PATH }}" data-url-path="{{ URL_PATH }}">
		{% import "macros/misc.twig" as misc %}
		<div id="container">
			<header id="masthead" class="post-intro-fade intro-fade">
				<nav class="foreground tc lowercase main-nav">
					<span class="far-left tl">
						<h1><a class="plain svg-button" data-section="home" href="{{ urlFor('home') }}">{{ svg('logo', 'Jack') | raw }}</a></h1>
					</span>
					<ul class="horizontal-list floats">
						{% for link in cockpit_collection('mainmenu') %}<li>{{ misc.menu_item(link) }}</li>{% endfor %}
					</ul>
					<span class="far-right tl">
						<ul class="social-buttons horizontal-list floats tc">
							{% for link in cockpit_collection('socialmenu') %}<li class="button--{{ link.name }}">{{ misc.social_button(link.name, link.url) }}</li>{% endfor %}
						</ul>
					</span>
				</nav>
				{% block subnav %}
				{% endblock %}
				{% block header_content %}
				{% endblock %}
			</header>
			<div id="content" class="content">
				{% block content %}<article class="page-content text-content justified">{% if content %}{{ content | raw }}{% endif %}</article>{% endblock %}
			</div>
		</div>
		{% block extra_content %}
		{% endblock %}
		{% block footer %}
		{% endblock %}
		<div id="main-loader" class="loader">
			<svg viewBox="0 0 90 100" preserveAspectRatio="xMidYMid meet">
				<circle class="one" cx="5" cy="50" r="5"/>
				<circle class="two" cx="25" cy="50" r="5"/>
				<circle class="three" cx="45" cy="50" r="5"/>
				<circle class="four" cx="65" cy="50" r="5"/>
				<circle class="five" cx="85" cy="50" r="5"/>
			</svg>
		</div>
		{% block foot_scripts %}
		{% endblock %}
		{% if MINIFY_SCRIPTS %}
		<script src="{{ 'dist/main.min.js' | asset_url }}"></script>
		{% else %}
		<script src="{{ 'src/js/lib/app.js' | asset_url }}" async></script>
		{% endif %}
		<!--script>
			var _paq = _paq || [];
			_paq.push(['setCustomVariable', 1, 'User ID', '{{ USER_ID }}', 'visit']);
			_paq.push(['setCustomVariable', 2, 'Name', '{{ NAME }}', 'visit']);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				 var u=(("https:" == document.location.protocol) ? "https" : "http") + "://" + "{{ PIWIK_URL }}";
				 _paq.push(['setTrackerUrl', u+'piwik.php']);
				 _paq.push(['setSiteId', 1]);
				 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
				 g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			 })();
		</script-->
	</body>
</html>
