{% block doctype %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% endblock %}
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="canonical" href="{{ CANONICAL_URL }}">
		<title>{{ META_TITLE }}</title>
		{% if META_DESCRIPTION is defined %}<meta name="description" content="{{ META_DESCRIPTION }}">{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% for key, val in GRAPH_TAGS.TWITTER_CARD %}
		<meta property="twitter:{{ key }}" content="{{ val }}">
		{% endfor %}
		{% for key, val in GRAPH_TAGS.OPEN_GRAPH %}
		<meta property="og:{{ key }}" content="{{ val }}">
		{% endfor %}
		
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		{% endblock %}
		
		{{ [
			'bower_components/loaders.css/loaders',
			'bower_components/modal/stylesheets/jquery.modal',
			'bower_components/slick-carousel/slick/slick',
			'bower_components/slick-carousel/slick/slick-theme',
		] | css('src') | raw }}
		{{ [
			'main',
		] | css | raw }}
		{% if assets is defined %}{{ assets.css | css | raw }}{% endif %}
		<script>document.documentElement.className = 'js';</script>
	</head>
	<body class="{{ bodyClass | join(' ') }}" data-template-path="{{ TEMPLATE_PATH }}" data-url-path="{{ URL_PATH }}" data-assets-url="{{ 'assets' | url }}" data-cart-count="{{ cart ? cart.getItems().getItemCount() : 0 }}">
		{% import "macros/misc.twig" as misc %}
		{% if background %}<img class="page-background background" src="{{ background.src }}" srcset="{{ background.srcset }}" alt="">{% endif %}
		<div id="container">
			<header id="masthead" class="post-intro-fade">
				<nav class="foreground tc lowercase main-nav">
					<span class="far-left tl">
						<h1><a class="plain svg-button" data-section="home" href="{{ urlFor('home') }}">{{ svg('logo', 'Jack') | raw }}</a></h1>
					</span>
					<ul class="horizontal-list floats">
						{% for link in cockpit_collection('mainmenu') %}<li>{{ misc.menu_item(link) }}</li>{% endfor %}
					</ul>
					<span class="far-right tl">
						<ul class="social-buttons horizontal-list floats tc">
							<li class="button--cart"><a class="plain svg-button" href="{{ urlFor('cart') }}">{{ svg('cart', 'Shopping Cart') | raw }}</a></li>
							{% for link in cockpit_collection('socialmenu') %}<li class="button--{{ link.name }}">{{ misc.social_button(link.name, link.url) }}</li>{% endfor %}
						</ul>
					</span>
				</nav>
				<nav class="tl lowercase submenu" data-parent="issues">
					<ul class="plain">
						{% for issue in issues %}<li><a class="{% if issue.slug in URL_PATH %}selected{% endif %}" href="{{ issue.getUrl() }}">{{ issue.title }}</a></li>{% endfor %}
					</ul>
				</nav>
				{% block subnav %}{% endblock %}
				{% block header_content %}{% endblock %}
			</header>
			<div id="content" class="content">
				{% block content %}<article class="page-content text-content justified post-intro-fade">{% if content %}{{ content | raw }}{% endif %}</article>{% endblock %}
			</div>
		</div>
		{% block extra_content %}{% endblock %}
		{% block footer %}{% endblock %}
		{{ [
			'bower_components/jquery/dist/jquery',
			'bower_components/underscore/underscore',
			'bower_components/fetch/fetch',
			'bower_components/shuffle-array/dist/shuffle-array',
			'bower_components/modal/javascripts/jquery.modal',
			'bower_components/loaders.css/loaders.css',
			'bower_components/cookie/cookie',
			'bower_components/slick-carousel/slick/slick',
		] | js('src') | raw }}
		{{ ['app','layouts/submenus'] | js | raw }}
		<script>Object.defineProperty(App, 'BASE_URL', { value: "{{ '' | url }}" });</script>
		<script>Object.defineProperty(App, 'ASSETS_URL', { value: "{{ '' | asset_url }}" });</script>
		<script>Object.defineProperty(App, 'HTTP_REFERER', { value: "{{ SERVER.HTTP_REFERER }}" });</script>
		{% if assets is defined %}{{ assets.js | js | raw }}{% endif %}
		<!--script>
			var _paq = _paq || [];
			_paq.push(['setCustomVariable', 1, 'User ID', '{{ USER_ID }}', 'visit']);
			_paq.push(['setCustomVariable', 2, 'Name', '{{ NAME }}', 'visit']);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				 var u=(("https:" == document.location.protocol) ? "https" : "http") + "://" + "{{ PIWIK_URL }}";
				 _paq.push(['setTrackerUrl', u+'piwik.php']);
				 _paq.push(['setSiteId', 1]);
				 var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
				 g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			 })();
		</script-->
	</body>
</html>
