{% extends "site.twig" %}
{% block content %}
<main>
	<header class="page-header">
		<h1 class="page-title">Shopping Cart</h1>
		{% include 'snippets/cart/bar.twig' %}
	</header>
	<table class="needs-cart-items tl">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for variant in cart.getItems() %}
			<tr class="store-item" data-cart-count="{{ variant.getCartCount() }}" data-variant-id="{{ variant.getVariantId() }}">
				<td>
					<aside><img src="{{ variant.getImageSrc() }}" alt=""></aside>
					<h2>{{ variant.getItemTitle() }}</h2>
				</td>
				<td><p>{{ variant.getPrice() | money }}</p></td>
				<td>{% include 'snippets/cart/quantity-form.twig' %}</td>
				<td>{% include 'snippets/cart/remove-form.twig' %}</td>
			</tr>
			{% endfor %}
			<tr class="">
				<td>
					<aside>{{ svg('shipping', 'Shipping') | raw }}</aside>
					<h2>Shipping</h2>
				</td>
				<td colspan="3"><p>{{ cart.getShipping() | money }}</p></td>
			</tr>
		</tbody>
		<tfoot class="tr">
			<tr>
				<th colspan="4">Subtotal (<span class="cart__count">{{ cart.getItemCount() }}</span> items): <em class="cart__subtotal">{{ cart.getSubtotal() | money }}</em></th>
			</tr>
		</tfoot>
	</table>
	<p class="needs-empty-cart tc">Your shopping cart is empty.</p>
	<footer>{% include 'snippets/cart/bar.twig' %}</footer>
		
</main>
<aside class="fr tr">{% include 'snippets/cart/sidebar.twig' %}</aside>
{% endblock %}
