{% extends "site.twig" %}
{% block content %}
<main>
	<header class="page-header">
		<h1 class="page-title">Shopping Cart</h1>
	</header>
	<table class="needs-cart-items tl">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for variant in cart.getVariants() %}{% set cartCount = cart.getItems().getVariantCount(variant) %}
			<tr class="store-item" data-cart-count="{{ cartCount }}" data-variant-id="{{ variant.getVariantId() }}">
				<td>
					<aside><img src="{{ variant.fetchIssue().getResponsiveLayout('cover_front').src }}" alt=""></aside>
					<h2>{{ variant.getItemTitle() }}</h2>
				</td>
				<td><p>{{ variant.getPrice() | money }}</p></td>
				<td>{% include 'snippets/cart/quantity-form.twig' %}</td>
				<td>{% include 'snippets/cart/remove-form.twig' %}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot class="tr">
			<tr>
				<th colspan="4">Subtotal (<span class="cart__count">{{ cart.getItems().getItemCount() }}</span> items): <em class="cart__subtotal">{{ cart.getItems().getSubtotal() | money }}</em></th>
			</tr>
		</tfoot>
	</table>
	<p class="needs-empty-cart tc">Your shopping cart is empty.</p>
</main>
<aside class="fr tr">
	<p><a class="shop-back btn" href="{{ urlFor('storefront') }}">Continue Shopping</a></p>
	<p><strong class="fl">Subtotal</strong> <em class="cart__subtotal">{{ cart.getItems().getSubtotal() | money }}</em></p> 
	<p><strong class="fl">Shipping</strong> <em class="cart__shipping">{{ cart.getItems().getShipping() | money }}</em></p> 
	<p><strong class="fl">Order Total</strong> <em class="cart__total">{{ (cart.getItems().getSubtotal() + cart.getItems().getShipping()) | money }}</em></p> 
	<p><a class="btn" href="{{ urlFor('checkout') }}">Checkout</a></p>
</aside>
{% endblock %}
