{% extends "site.twig" %}
{% block content %}
<main>
	<header class="page-header">
		<h1 class="page-title">Shopping Cart</h1>
		{% include 'snippets/cart/bar.twig' %}
	</header>
	<table class="needs-cart-items tl">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for variant in cart.getItems().products %}
			<tr class="store-item" data-cart-count="{{ variant.getCartCount() }}" data-variant-id="{{ variant.getVariantId() }}" data-price="{{ variant.getPrice() }}">
				<td>
					<aside><img src="{{ variant.getImageSrc() }}" alt=""></aside>
					<h2>{{ variant.getItemTitle() }}</h2>
				</td>
				<td><p>{{ (variant.getPrice() * variant.getCartCount()) | money }}</p></td>
				<td>{% include 'snippets/cart/quantity-form.twig' %}</td>
				<td>{% include 'snippets/cart/remove-form.twig' %}</td>
			</tr>
			{% endfor %}
			{% with { d: cart.getItems().discount } %}{% if d > 0 %}
			<tr class="store-item" data-cart-count="1" data-variant-id="discount">
				<td>
					<!--aside>{#{ svg('discount', 'Discount') | raw }#}</aside-->
					<h2>{{ d }}% Discount</h2>
				</td>
				<td><p>-{{ (cart.getSubtotal().gross - cart.getSubtotal().net) | money }}</p></td>
				<td>&nbsp;</td>
				<td>{% include 'snippets/cart/remove-discount-form.twig' %}</td>
			</tr>
			{% endif %}{% endwith %}
			<tr>
				<td><h2>Subtotal (<span class="cart__count plural" data-count="{{ cart.getItemCount() }}">{{ cart.getItemCount() }}</span> item<span class="plural__suffix">s</span>):</h2></td>
				<th><em class="cart__subtotal">{{ cart.getSubtotal().net | money }}</em></th>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr class="">
				<td>
					<aside>{{ svg('shipping', 'Shipping') | raw }}</aside>
					<h2>Shipping</h2>
				</td>
				<td><p>{{ cart.getShipping() | money }}</p></td>
				<td colspan="2">&nbsp;</td>
			</tr>
		</tbody>
	</table>
	<p class="needs-empty-cart tc">Your shopping cart is empty.</p>
	<footer>{% include 'snippets/cart/bar.twig' %}</footer>
		
</main>
<aside class="cart-sidebar fr">{% include 'snippets/cart/sidebar.twig' %}</aside>
{% endblock %}
