{% extends "site.twig" %}
{% block content %}
<h1 class="screen-reader-text">Jack Store</h1>
<section class="issues">
	{% for variant in catalog %}{% set cartCount = cart.getItems().getVariantCount(variant) %}
	<article class="store-item" data-cart-count="{{ cartCount }}">
		{% with { img: variant.fetchIssue().getResponsiveLayout('cover_front') } %}
		<img src="{{ img.src }}" srcset="{{ img.srcset }}" alt="">
		{% endwith %}
		<header>
			{% with { issue: variant.fetchIssue() } %}
			<h2>{{ issue.title }}</h2>
			<h3 class="info">Issue {{ '#' ~ issue.number }} - Part {{ issue.part }}</h3>
			{% endwith %}
			<h3 class="price">{{ variant.getPrice() | money }}</h3>
		</header>
		<section class="actions">
			{% include 'snippets/cart/add-form.twig' %}
			{% include 'snippets/cart/quantity-form.twig' %}
			<a class="has-items btn" href="{{ urlFor('checkout') }}">Checkout</a>
		</section>
		<main>
			<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est.</p>
		</main>
	</article>
	{% endfor %}
</section>
{% endblock %}
