{% extends "site.twig" %}
{% block content %}
<h1 class="screen-reader-text">Jack Store</h1>
<section class="issues tc">
	{% for issue in issues %}
	{% set variant = issue.getStoreVariant() %}
	<article class="store-item" data-cart-count="{{ variant.getCartCount() }}" data-variant-id="{{ variant.getVariantId() }}">
		{% with { img: (issue.getResponsiveCovers() | first) } %}
		<img src="{{ img.src }}" srcset="{{ img.srcset }}" alt="">
		{% endwith %}
		<header>
			<h2>{{ issue.title }}</h2>
			<h3 class="price">{{ variant.getPrice() | money }}</h3>
		</header>
		<section class="actions">
			<a class="btn" href="{{ issue.getUrl() }}">More info</a>
			{% include 'snippets/cart/add-form.twig' %}
			<a class="has-items btn" href="{{ urlFor('cart') }}">View cart</a>
			<a class="has-items btn" href="{{ urlFor('checkout') }}">Checkout</a>
		</section>
	</article>
	{% endfor %}
</section>
{% endblock %}
