{% extends "site.twig" %}
{% block content %}
<h1>{{ issue.title }}</h1>
<article class="magazine section-switcher" data-transition="fade" data-touch-transition="scroll" data-wrap-around="false" data-scroll-direction="horizontal">
	<p class="magazine__section-title text-right">&nbsp;</p>
	<aside class="magazine__thumbs absolute-fixed" data-min-top="5">
		<ol class="section-switcher__links">
			<li class="selected selected--front" data-poster-size="54,24"><span class="thumb__title">Front cover / Back cover / Fold</span>
				<a href="#cover" class="section-switcher__link" data-section-face="front"><img src="{{ issue.covers.thumb }}" alt=""></a>
				<a href="#cover" class="section-switcher__link" data-section-face="back"><img src="{{ issue.covers.poster_thumb }}" alt=""></a>
			</li>
			{% for p in posters %}
			<li data-poster-size="36,24"><span class="thumb__title">Poster {{ loop.index }}</span>
				<a href="#sheet-{{ loop.index }}" class="section-switcher__link" data-section-face="front"><img src="{{ p.front.thumb }}" alt=""></a>
				<a href="#sheet-{{ loop.index }}" class="section-switcher__link" data-section-face="back"><img src="{{ p.back.thumb }}" alt=""></a>
			</li>
			{% endfor %}
			<li data-poster-size="36,48"><span class="thumb__title">Centerfold</span>
				<a href="#centerfold" class="section-switcher__link" data-section-face="front"><img src="{{ issue.centerfold.front_thumb }}" alt=""></a>
				<a href="#centerfold" class="section-switcher__link" data-section-face="back"><img src="{{ issue.centerfold.back_thumb }}" alt=""></a>
			</li>
		</ol>
	</aside>
	<div class="magazine__nav section-switcher__nav left-edge right-edge">
		<a class="section-switcher__nav__prev section-switcher__link" href="#">&lt;</a>
		<button id="magazine__open-close-button" class="magazine__toggle-open-button toggle-button" data-toggle-text="open,close">open</button>
		<button id="magazine__flip-button" class="magazine__flip-button">flip</button>
		<a class="section-switcher__nav__next section-switcher__link" href="#">&gt;</a>
	</div>
	<div class="magazine__sections section-switcher__sections-container">
		<section id="cover" class="magazine__section section-switcher__section magazine-cover" data-titles="Front cover / Back Cover / Index,Cover poster" data-poster-size="54,24">
			<img class="front middle magazine-cover__front-cover" src="{{ issue.covers.front }}" alt="">
			<img class="front left magazine-cover__back-cover" src="{{ issue.covers.back }}" alt="">
			<img class="front right magazine-cover__cover-index" src="{{ issue.covers.index }}" alt="">
			<img class="back middle magazine-cover__poster-middle" src="{{ issue.covers.poster_middle }}" alt="">
			<img class="back left magazine-cover__poster-right" src="{{ issue.covers.poster_right }}" alt="">
			<img class="back right magazine-cover__poster-left" src="{{ issue.covers.poster_left }}" alt="">
		</section>
		{% for p in posters %}
		<section id="sheet-{{ loop.index }}" class="magazine__section section-switcher__section magazine-poster" data-titles="Page {{ loop.index }} front,Page {{ loop.index }} back"  data-poster-size="36,24">
			<img class="front left magazine-poster__front-left" src="{{ p.front.left }}" alt="">
			<img class="front right magazine-poster__front-right" src="{{ p.front.right }}" alt="">
			<img class="back left magazine-poster__back-left" src="{{ p.back.right }}" alt="">
			<img class="back right magazine-poster__back-right" src="{{ p.back.left }}" alt="">
		</section>
		{% endfor %}
		<section id="centerfold" class="magazine__section section-switcher__section magazine-centerfold" data-titles="Centerfold front,Centerfold back" data-poster-size="36,48">
			<img class="front topleft top left magazine-centerfold__front-top-left" src="{{ issue.centerfold.front_top_left }}" alt="">
			<img class="front topright top right magazine-centerfold__front-top-right" src="{{ issue.centerfold.front_top_right }}" alt="">
			<img class="front bottomleft bottom left magazine-centerfold__front-bottom-left" src="{{ issue.centerfold.front_bottom_left }}" alt="">
			<img class="front bottomright bottom right magazine-centerfold__front-bottom-right" src="{{ issue.centerfold.front_bottom_right }}" alt="">
			<img class="back topleft top left magazine-centerfold__back-top-left" src="{{ issue.centerfold.back_top_right }}" alt="">
			<img class="back topright top right magazine-centerfold__back-top-right" src="{{ issue.centerfold.back_top_left }}" alt="">
			<img class="back bottomleft bottom left magazine-centerfold__back-bottom-left" src="{{ issue.centerfold.back_bottom_right }}" alt="">
			<img class="back bottomright bottom right magazine-centerfold__back-bottom-right" src="{{ issue.centerfold.back_bottom_left }}" alt="">
		</section>
	</div>
</article>
{% endblock %}
